body{
    margin:0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
    background-color: beige;

}
.calendar-container{
    background-color: white;
    width: 300px;
    text-align: center;
    border-radius:10px ;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    overflow: hidden;

}
.month-name{
    margin: 0;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.day-name{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: burlywood;
    padding: 30px;


}
.day-number{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    
}
.year-name{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    color: darkgray;
}